@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important; /* gray-700 */
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}
